<form #commentForm="ngForm" (submit)="onSubmit(commentForm)">
    <div class="form-group row">
        <div class="col-10">
            <input
                type="text"
                class="form-control"
                [class.is-invalid]="body.invalid && body.dirty"
                name="body"
                [(ngModel)]="comment.body"
                #body="ngModel"
                required
                placeholder="Add comment"
            >
        </div>
        <button class="btn btn-primary col-2">Add</button>
    </div>
</form>
