<h2>Welcome back</h2>

<app-loader *ngIf="loginLoading"></app-loader>
<p class="alert alert-danger" *ngIf="loginError">
    {{loginError}}
</p>
<p class="alert alert-success" *ngIf="loginSuccess">
    Logged in
</p>

<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input
            type="text"
            class="form-control"
            [class.is-invalid]="email.invalid && email.dirty"
            required
            [(ngModel)]="user.email"
            name="email"
            #email="ngModel"
            placeholder="email"
        >
        <div class="form-group"></div>
        <input
            type="text"
            class="form-control"
            [class.is-invalid]="password.invalid && password.dirty"
            required
            [(ngModel)]="user.password"
            name="password"
            #password="ngModel"
            placeholder="password"
        >
    </div>
    <button class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
</form>
