<nav class="navbar bg-primary mb-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a
                class="nav-link text-white"
                routerLink="/"
                routerLinkActive="bg-danger"
                [routerLinkActiveOptions]="{exact: true}"
            >
                Main page
            </a>
        </li>
        <li class="nav-item" *ngIf="!loggedUser">
            <a
                class="nav-link text-white"
                routerLink="/users/register"
                routerLinkActive="bg-danger"
            >
                Register
            </a>
        </li>
        <li class="nav-item" *ngIf="!loggedUser">
            <a
                class="nav-link text-white"
                routerLink="/users/login"
                routerLinkActive="bg-danger"
            >
                Login
            </a>
        </li>
        <li class="nav-item" *ngIf="loggedUser">
                <a
                    class="nav-link text-white"
                    routerLink="/users/profile"
                    routerLinkActive="bg-danger"
                >
                    Profile
                </a>
        </li>
        <li class="nav-item" *ngIf="loggedUser">
                <a
                    class="nav-link text-white"
                    routerLink="/users/logout"
                    routerLinkActive="bg-danger"
                >
                    Logout
                </a>
        </li>
    </ul>
</nav>
