<nav class="navbar bg-primary">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a
                class="nav-link text-white"
                routerLink="/"
                routerLinkActive="bg-danger"
                [routerLinkActiveOptions]="{exact: true}"
            >
                Main page
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link text-white"
                routerLink="/404"
                routerLinkActive="bg-danger"
            >
                404 Page
            </a>
        </li>
    </ul>
</nav>
